src/*/bin

src/*/build
log/*
/src/*/.gradle
/src/*/.settings
/*.txt
/src/*/MTPs-MainContainer.txt
/src/*/APDescription.txt
/src/*/build
/src/*/gradle
/src/*/.classpath
.metadata
RemoteSystemsTempFiles
.recommenders
/src/acona-cell/dependencies
/*/acona-demo-webservice/settings.gradle
/src/acona-cognitiveframework/.project
/src/acona-cognitiveframework/gradlew
/src/acona-cognitiveframework/gradlew.bat
/src/acona-cognitiveframework/settings.gradle
