src/*/bin

src/*/build
log/*
/src/*/.gradle
/src/*/.settings
/*.txt
/src/*/MTPs-MainContainer.txt
/src/*/APDescription.txt
/src/*/build
/src/*/gradle
/src/*/.classpath
.metadata
RemoteSystemsTempFiles
.recommenders
/src/acona-cell/dependencies
