<configuration debug="true">
  <!--<evaluator name="TEST_EVALUATOR">
    <expression>logger.contains("ControlGateway") &amp;&amp; message.contains("TestTest")</expression>
  </evaluator>-->
  <property name="DEV_HOME" value="log/Stockmarket"/>
  <property name="logFileName" value="archivetraderlog"/>
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
  
  <!--<logger name="at.tuwien.ict.acona.communicator.core.BidirectionalGatewayAgent" level="WARN"/>-->
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction.codelets.CellFunctionCodeletHandler" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction.codelets.CellFunctionCodelet" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction.codelets.CellFunctionHandlerTriggerCodelet" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction.CellFunctionThreadImpl" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction.CellFunctionImpl" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.core.cellfunction.codelets.helpers" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.core" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.storage" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.cellfunction.specialfunctions" level="WARN" />
  <logger name="at.tuwien.ict.acona.mq.cell.communication" level="WARN" />
  <logger name="org.eclipse.jetty" level="WARN"/>
  
  <logger name="at.tuwien.ict.acona.evolutiondemo.StatisticsCollector" level="INFO" />
  
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>false</withJansi>
	
	<filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator"> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        <!--<expression>return (message.toLowerCase().contains("traderagent"));</expression>-->
		<!--<expression>return logger.contains("at.tuwien.ict.acona.evolutiondemo.launcher");</expression>-->
		<expression>return logger.contains("at.tuwien.ict.acona.evolutiondemo.SystemTester");</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>ACCEPT</OnMatch>
    </filter>
	
	<filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator"> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        <!--<expression>return (message.toLowerCase().contains("traderagent"));</expression>-->
		<!--<expression>return logger.contains("at.tuwien.ict.acona.evolutiondemo.launcher");</expression>-->
		<expression>return logger.contains("at.tuwien.ict.acona.evolutiondemo.brokeragent.StatisticsCollector");</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>ACCEPT</OnMatch>
    </filter>
	
	<filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator"> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        <!--<expression>return (message.toLowerCase().contains("traderagent"));</expression>-->
		<!--<expression>return logger.contains("at.tuwien.ict.acona.evolutiondemo.launcher");</expression>-->
		<expression>return message.toLowerCase().contains(";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;");</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
	
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--<pattern>%-30(%date{HH:mm:ss.SSS} [%thread]) %-20(%highlight(%-5level)) %-25(%cyan(%logger{0}))(%F:%L\) - %msg%n%throwable</pattern>-->
	  <!--<pattern>%-30(%date{HH:mm:ss.SSS} [%thread]) %-20(%-5level)) %logger{0}(%F:%L\) - %msg%n%throwable</pattern>-->
	  <!--<pattern>%-40(%date{HH:mm:ss.SSS} [%thread]) %-40(%-5level %logger{5}) - %msg%n%throwable</pattern>-->
	  <!--<pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-20(%-5level %logger{0} -)(%F:%L\) %msg%n</pattern>-->
	  <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level (%file:%line\) - %message%n</pattern>
	  <!--<pattern>%-20(%date{HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %cyan(%logger{20}) - %msg %n%ex{full}</pattern>-->
    </encoder>
  </appender>
  
  <appender name="csv" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/agenttypelog-${bySecond}.log</file>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>${DEV_HOME}/archived/agenttypelog-${bySecond}.%i.log.zip
				</FileNamePattern>
				<MinIndex>1</MinIndex>
				<MaxIndex>100</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS};%msg%n</Pattern>
		</encoder>

  </appender>
  
  <appender name="csvheader" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/headerlog-${bySecond}.log</file>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>${DEV_HOME}/archived/headerlog-${bySecond}.%i.log.zip
				</FileNamePattern>
				<MinIndex>1</MinIndex>
				<MaxIndex>100</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS};%msg%n</Pattern>
		</encoder>

  </appender>

  
  <!-- CSV logger -->
  <logger name="csvheader">
    <level value="DEBUG" />
    <appender-ref ref="csvheader" />
  </logger>
  
  <logger name="csvbody">
    <level value="DEBUG" />
    <appender-ref ref="csv" />
  </logger>
  
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>